.current {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  padding: 15px 0;
}

.temp {
  margin: 0 15px 0 0;
}

.icon {
  width: 50px;
  height: 50px;
  fill: var(--white);
  margin: 0 15px 0 0;
}

.conditions {
}

@media (min-width: 768px) {
  .current {
    color: var(--blue);
  }

  .icon {
    width: 75px;
    height: 75px;
    fill: var(--blue);
  }
}
